In [76]:
from config.constants import MONGODB_CREDENTIALS, SQL_LEAGUES_CONN, SQL_LEAGUES_ENGINE, API_KEY
from pymongo import MongoClient
import pandas as pd
from sqlalchemy import create_engine
import pymysql
from riotwatcher import RiotWatcher

# MongoDB

In [2]:
mongodb = MongoClient(MONGODB_CREDENTIALS).slds

In [3]:
soloq_m_coll = mongodb.soloq_m
soloq_tl_coll = mongodb.soloq_tl

In [28]:
slo_tl_coll = mongodb.slo_tl

In [ ]:
slo_tl_coll.find_one({'gameId':})

In [4]:
sql = pymysql.connect(**SQL_LEAGUES_CONN)

In [5]:
cursor1 = sql.cursor()
query = 'SELECT game_id, realm, hash FROM slo'
cursor1.execute(query)
new_game_ids = [(gid[0], gid[1], gid[2]) for gid in cursor1]
platforms = [gid[1] for gid in new_game_ids]

In [6]:
set(platforms)

{'ESPORTSTMNT01', 'ESPORTSTMNT05', 'EUW1'}

In [7]:
cursor = soloq_m_coll.find({'platformId': {'$in': list(set(platforms))}}, {'_id': 0, 'gameId': 1, 'platformId': 1})

In [8]:
current_game_ids = [(gid['gameId'], gid['platformId']) for gid in cursor]

In [12]:
df = pd.DataFrame(current_game_ids)

In [49]:
dict1

{'gameCreation': {'$gteeee': 'meirae'}}

In [31]:
gs = soloq_m_coll.find({'gameCreation': {'$gte': 1526335200000, '$lte': 1526507999000}}, {'_id': 0, 'gameId': 1})

In [32]:
gids = [obj['gameId'] for obj in gs]

In [33]:
len(gids)

356

### Regex in MongoDB with game versions

In [193]:
patch = '8.1'

In [194]:
rgex_patch = '^' + '{}'.format(patch).replace('.', r'\.')

In [195]:
gamevers = [game['gameVersion'] for game in soloq_m_coll.find({'platformId': region, 'gameVersion': {'$regex': rgex_patch}}, {'_id': 0, 'gameVersion': 1})]

In [196]:
pd.Series(gamevers).value_counts()

8.1.214.5847    14
8.1.213.4336    13
dtype: int64

In [ ]:
g = soloq_m_coll.find({'participantIdentities.player.accountId': {'$in': [23787352]}}, {'_id': 0, 'gameId': 1})

In [ ]:
gs = [obj['gameId'] for obj in g]

In [ ]:
pd.DataFrame(gs).rename(columns={0: 'game_id'})

# SQL

In [19]:
import pymysql

In [84]:
engine = create_engine(SQL_LEAGUES_ENGINE)
cnx = engine.connect()
sql_df = pd.read_sql_table(con=cnx, table_name='slo', index_col='index')
cnx.close()

In [85]:
sql_df.head(3)

,season,split,date,series_id,week,event,game,game_id,realm,hash,...,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10
index,,,,,,,,,,,,,,,,,,,,,
0,8,summer,26/05/2018 12:00:00,DRG_KIYF,1,BCN viewing party,1,750114,ESPORTSTMNT05,240839e4082e6796,...,Sacre,Hero,Vrow,Barcode,Homi,Orome,Aesthetic,Zazee,Carzzy,Rufus
1,8,summer,26/05/2018 13:00:00,DRG_KIYF,1,BCN viewing party,2,740189,ESPORTSTMNT05,bc2bed412a9b6474,...,Orome,Aesthetic,Zazee,Carzzy,Rufus,Sacre,Hero,Vrow,Barcode,Homi
2,8,summer,26/05/2018 14:00:00,EMZ_PGM,1,BCN viewing party,1,750170,ESPORTSTMNT05,4d9934aea20585ef,...,Moryo,Dahvys,Czekolad,Monk,Tarky,Glebo,Ippon,Siler,Javaaa,Karakal

In [79]:
competitions = sql_df[['competition', 'competition_abbv']]

In [82]:
teams = sql_df[['team_name', 'team_abbv']]

In [83]:
players = sql_df[['region', 'main_role', 'substitute', 'player_name', 'account_id', 'id', 'account_type']]

# Random

In [90]:
from riotwatcher import RiotWatcher
from config.constants import API_KEY
rw = RiotWatcher(API_KEY)

In [26]:
summ = rw.summoner.by_name(region='EUW1', summoner_name='Missing Q')

In [28]:
accid = summ['accountId']

In [30]:
ml = rw.match.matchlist_by_account(account_id=accid, region='EUW1')

In [35]:
gid = ml['matches'][0]['gameId']

In [36]:
gid

3669456176

In [44]:
tl = rw.match.timeline_by_match(match_id=3668417003, region='EUW1')

In [47]:
from itertools import chain

In [49]:
events = list(chain.from_iterable([frame['events'] for frame in tl['frames']]))

In [56]:
ward_df = pd.DataFrame([ward for ward in events if ward['type'] == 'WARD_PLACED'])

In [75]:
positions = {1: 'JUNG', 2: 'SUPP', 3: 'MID', 4: 'TOP', 5: 'ADC', 6: 'TOP', 7: 'JUNG', 8: 'MID', 9: 'ADC', 10:'SUPP'}

In [82]:
df_pos = pd.DataFrame(positions, index=(0,)).T.reset_index().rename(columns={'index': 'pid'})

In [85]:
ward_df2 = ward_df.merge(df_pos, left_on='creatorId', right_on='pid')

In [86]:
ward_df2.sort_values(['creatorId', 'timestamp']).to_excel('ward_test.xlsx')

In [87]:
ward_df2

     creatorId  timestamp         type        wardType  pid     0
0            7      70607  WARD_PLACED  YELLOW_TRINKET    7  JUNG
1            7     274523  WARD_PLACED    CONTROL_WARD    7  JUNG
2            7     302919  WARD_PLACED  YELLOW_TRINKET    7  JUNG
3            7     524776  WARD_PLACED  YELLOW_TRINKET    7  JUNG
4            7     744066  WARD_PLACED  YELLOW_TRINKET    7  JUNG
5            7    1181498  WARD_PLACED    CONTROL_WARD    7  JUNG
6            7    1366843  WARD_PLACED    CONTROL_WARD    7  JUNG
7            4      72059  WARD_PLACED  YELLOW_TRINKET    4   TOP
8            4     283698  WARD_PLACED  YELLOW_TRINKET    4   TOP
9            4     515090  WARD_PLACED  YELLOW_TRINKET    4   TOP
10           4     543458  WARD_PLACED    CONTROL_WARD    4   TOP
11           4     661808  WARD_PLACED  YELLOW_TRINKET    4   TOP
12           4     903101  WARD_PLACED  YELLOW_TRINKET    4   TOP
13           4    1044625  WARD_PLACED  YELLOW_TRINKET    4   TOP
14           4    1196184  WARD_PLACED  YELLOW_TRINKET    4   TOP
15           4    1346757  WARD_PLACED    CONTROL_WARD    4   TOP
16           4    1360414  WARD_PLACED  YELLOW_TRINKET    4   TOP
17           4    1409535  WARD_PLACED    CONTROL_WARD    4   TOP
18           4    1743160  WARD_PLACED  YELLOW_TRINKET    4   TOP
19           4    1753386  WARD_PLACED  YELLOW_TRINKET    4   TOP
20           4    1900067  WARD_PLACED    CONTROL_WARD    4   TOP
21           4    1982912  WARD_PLACED  YELLOW_TRINKET    4   TOP
22           4    2021754  WARD_PLACED  YELLOW_TRINKET    4   TOP
23          10      75260  WARD_PLACED  YELLOW_TRINKET   10  SUPP
24          10     281586  WARD_PLACED  YELLOW_TRINKET   10  SUPP
25          10     459420  WARD_PLACED    CONTROL_WARD   10  SUPP
26          10     486555  WARD_PLACED    CONTROL_WARD   10  SUPP
27          10     506294  WARD_PLACED  YELLOW_TRINKET   10  SUPP
28          10     667714  WARD_PLACED    CONTROL_WARD   10  SUPP
29          10     769282  WARD_PLACED  YELLOW_TRINKET   10  SUPP
..         ...        ...          ...             ...  ...   ...
172          1    1940764  WARD_PLACED  YELLOW_TRINKET    1  JUNG
173          6     298759  WARD_PLACED  YELLOW_TRINKET    6   TOP
174          6     315966  WARD_PLACED  YELLOW_TRINKET    6   TOP
175          6     412715  WARD_PLACED    CONTROL_WARD    6   TOP
176          6     586236  WARD_PLACED  YELLOW_TRINKET    6   TOP
177          6     730718  WARD_PLACED  YELLOW_TRINKET    6   TOP
178          6     887221  WARD_PLACED  YELLOW_TRINKET    6   TOP
179          6    1078734  WARD_PLACED  YELLOW_TRINKET    6   TOP
180          6    1314034  WARD_PLACED  YELLOW_TRINKET    6   TOP
181          6    1491001  WARD_PLACED  YELLOW_TRINKET    6   TOP
182          6    1501008  WARD_PLACED  YELLOW_TRINKET    6   TOP
183          6    1692099  WARD_PLACED  YELLOW_TRINKET    6   TOP
184          6    1771457  WARD_PLACED  YELLOW_TRINKET    6   TOP
185          6    1787893  WARD_PLACED    CONTROL_WARD    6   TOP
186          6    1980457  WARD_PLACED  YELLOW_TRINKET    6   TOP
187          6    2083808  WARD_PLACED  YELLOW_TRINKET    6   TOP
188          8     471737  WARD_PLACED  YELLOW_TRINKET    8   MID
189          8     476062  WARD_PLACED    CONTROL_WARD    8   MID
190          8     610201  WARD_PLACED  YELLOW_TRINKET    8   MID
191          8     746112  WARD_PLACED  YELLOW_TRINKET    8   MID
192          8     949354  WARD_PLACED  YELLOW_TRINKET    8   MID
193          8    1048335  WARD_PLACED  YELLOW_TRINKET    8   MID
194          8    1303387  WARD_PLACED    CONTROL_WARD    8   MID
195          8    1330145  WARD_PLACED  YELLOW_TRINKET    8   MID
196          8    1500809  WARD_PLACED    CONTROL_WARD    8   MID
197          8    1648880  WARD_PLACED    CONTROL_WARD    8   MID
198          8    1707896  WARD_PLACED    BLUE_TRINKET    8   MID
199          8    1734575  WARD_PLACED    CONTROL_WARD    8   MID
200          8    1807476  WARD_PLACED    CONTROL_WARD    8   MID
201          8    1945821  WARD_PLACED    BLUE_TRINKET    8   MID

[202 rows x 6 columns]